td, .number {
    border: 1px solid;
    padding: 20px;
}

.drawn {
    background: lightgray;
    border: 1px solid;
    color: green;
}

.hidden {
    display: none;
}

.last-drawn {
    background-color: coral;
}

#volume-control.muted #muted-icon{
    display: none;
}

#volume-control.muted #unmuted-icon{
    display: inline-block;
}

#volume-control #muted-icon{
    display: inline-block;
}

#volume-control #unmuted-icon{
    display: none;
}

.trash-icon {
    color: palevioletred;
    transform: skewY(0deg)
}

.trash-icon:hover {
    color: red;
    transform: scale(1.5) rotate(5deg);
}


